@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
}


/* Dark Mode overrides */

.dark body {
    background: #020617;
    /* This matches your 'night' color */
    color: white;
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}


/* Optional: Different speeds for different rows */

.animate-scroll-slow {
    animation: scroll 30s linear infinite;
}

.animate-scroll-fast {
    animation: scroll 15s linear infinite;
}